.custom-nav-link {
    color: white !important;
    font-size: 2.2rem; /* Más grande */
    text-decoration: none !important; /* Quita subrayado */
    transition: transform 0.2s ease-in-out;
    display: inline-block; /* Necesario para que el transform funcione bien */
    margin: 30px;
}

.custom-nav-link:hover {
    transform: scale(1.1); /* Se agranda un poco al hacer hover */
}

.btn-menu i:hover {
    color: #ccc; /* o cualquier tono que prefieras para el hover */
}

.btn-menu i {
    color: white;
}
