{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Lista de equipos</title>
    <link rel="stylesheet" href="{% static 'css/lista_equipos.css' %}">
    {% include 'includes/canvas.html' %}
{% endblock head %}

{% block body %}
    <h2>Listado de Equipos</h2>
    <ul>
        {% for equipo in equipos %}
            <li>
                <strong>{{ equipo.nombre }}</strong> ({{ equipo.serial }}) - {{ equipo.marca }} {{ equipo.modelo }}
            </li>
        {% empty %}
            <li>No hay equipos registrados aún.</li>
        {% endfor %}
    </ul>
{% endblock %}
